@model OptumPresence.Models.Users.LoginViewModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<hr/>
<div class="row">
    using(@Html.BeginForm("ChangePassword", "Home"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, "Confirm Password", new { @class = "control-label" })
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary"> GO! </button>
            </div>
        </div>
    }
</div>


