@model OptumPresence.Models.Users.LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Optum Presence</h1>
    <p class="lead">Hoteling Management App</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Keep Track of your Colleagues</h2>
        <p>
            Optum Presence facilitates hoteling scheduling. Approach your manager and apply for an account now!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon!</h2>
        <p>
            Optum Presence will soon include additional features to further manage employee attendance.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Log In</h2>
        <hr/>
        @using (Html.BeginForm("Login", "Home"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Username, "Username", new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Username, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Username)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Password", new { @class = "control-label" })
                @Html.PasswordFor(model => model.Password, new {@class="form-control"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="row" style="margin-top: 10px">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary"> GO! </button>     
                </div>
            </div>
           
        }
    </div>
</div>